%ul
  %li
    .item 
      %i.fa.fa-facebook
      Facebook
  %li
    .item 
      %i.fa.fa-twitter
      Twitter
  %li
    .item 
      %i.fa.fa-codepen
      Codepen
  %li
    .item 
      %i.fa.fa-github
      Github
