@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  background: #ddd;
  font-family:'Open Sans',sans-serif;
}

.button{
  position: relative;
  width: 100px;
  background: #8ebebc;
  display:block;
  border-radius: 0.35em;
  margin: 0 auto;
  margin-top:1%;
  padding: 0.75em 2.5em 0.75em 2.5em;
  border: 0;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)),
      url('images/overlay.png');
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#9ececc;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #8ebebc;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login h1{
  background:#8ebebc;
  padding:20px 0;
  border-top-left-radius: 0.35em;
  border-top-right-radius:0.35em;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding:6% 4%;
  border-bottom-left-radius:0.35em;
  border-bottom-right-radius:0.35em;
}

input[type="email"],input[type="description"],input[type="name"],input[type="address"],input[type="phone"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}