/******************************************************
 *  json store                 *
\*****************************************************/
body {
  font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  background: #FFF;
  color: #333;
  margin: 0px;
  padding: 0px;
}

#headercart {
  margin: 0px;
  padding: 20px;
}

#headercart .cart-info {
  position: relative;
  width: 25%;
  padding: 5px;
  text-align: center;
  background: #8ebebc;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
}

div:empty { display: none; }

#cartitemlistview ul {
    list-style: none;
}

.cartitem {
  display: border;
  float:left;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align:center;
  font-size: 12px;
}

#menuitemlistview ul {
    list-style: none;
}

.item {
  display: border;
  float:left;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align:center;
  font-size: 12px;
}
.item-title {
  font-weight: bold;
}
.item-artist {
  font-weight: bold;
  font-size: 14px;
}
/*
.item-detail .item-image {
  float:left;
}
*/

.item-detail .item-info {
  padding: 100px 10px 0px 10px;
}