* {box-sizing: border-box;}


// set container width
.row {
  max-width: 30em;
}

@media only screen and (min-width: 64.063em) {
  .row {
    max-width: 60em;
  }
}


// customizing here and there...
button.tiny {
  margin-bottom: 0;
  font-size: .8rem;
}

// what does LF mean?
.token.lf:before {
  content: ''; 
}