* {
  box-sizing: border-box;
}

.row {
  max-width: 30em;
}

@media only screen and (min-width: 64.063em) {
  .row {
    max-width: 60em;
  }
}
button.tiny {
  margin-bottom: 0;
  font-size: .8rem;
}

.token.lf:before {
  content: '';
}
