.row

  hr
  
  .small-12.columns
    h2 Add items to the list
  
  .small-12.large-4.columns    
    form#item-form
      .row.collapse
        .small-3.columns
          span.prefix Item:
        .small-9.columns
          input#item-input(type='text', placeholder='add item...', autofocus)
      .row.collapse
        .small-3.columns
          span.prefix Price:
        .small-9.columns
          input#item-price(type='number', placeholder='add price...')
      .row
        .small-12.columns
          button#add-item.expand(type="submit") Add Item
 
  .small-12.large-8.columns#items-view
    table#main.small-12
      thead.expand
        tr
          th Item
          th Price
          th Action
        tbody#table-body
        
  .small-12.columns#total-view
  
  hr

script#itemCollection-template(type='text/template')
  table#main.small-12
    thead.expand
      tr
        th Item
        th Price
        th Action
      tbody#table-body

script#item-template(type='text/template')
  td#name
  td#price
  td
    button#delete.secondary.tiny.expand Delete

script#total-template(type='text/template')
  table#total.right
    tbody
      tr
        th Total:
        th#total-price

//.small-12.column
    //h5 Initial Data:
    //pre
      code.language-javascript
        |var itemCollection = new ItemCollection([
        |  {
        |    name: 'Dude',
        |    price: 500
        |  },
        |  {
        |    name: 'Feels', 
        |    price: 300
        |  },
        |  {
        |    name: 'The Point',
        |    price: 1000
        |  },
        |  {
        |    name: 'Iditarod',
        |    price: 9.99
        |  }
        |]);