/*************************************/
/*menuitemapp
/*************************************/

#menuitemapp {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    margin: 130px 0 40px 0;
    border: 1px solid #ccc;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#menuitemapp:before {
    content: '';
    border-left: 1px solid #f5d6d6;
    border-right: 1px solid #f5d6d6;
    width: 2px;
    position: absolute;
    top: 45px;
    top: 0px;
    left: 40px;
    height: 100%;
}

#menuitemapp input::-webkit-input-placeholder {
    font-style: italic;
}

#menuitemapp input:-moz-placeholder {
    font-style: italic;
    color: #a9a9a9;
}

#menuitemapp h1 {
    position: absolute;
    top: -120px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #888;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.section {
    position: relative;
}
/*************************************/
/*main and label
/*************************************/

#main {
    position: relative;
    z-index: 2;
    border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
    display: none;
}


/******************************/
/*menuitem app continued login
/*need to change contentt
/******************************/

#menuitemapp .content .login {
    width: 350px;
    margin: 45px auto 25px auto;
}

#menuitemapp .content .login h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

#menuitemapp .content .login input {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    width: 340px;;
}

#menuitemapp .content .login .signup-form {
    margin-top: 25px;
}

#menuitemapp .content .login button {
    padding: 5px 10px;
    background: #eee;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Helvetica Neue";
}

#menuitemapp .content .login .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 5px 15px;
    margin-bottom: 15px;
}

#menuitemapp .content #user-info {
    padding: 5px 10px;
    border-top: 1px solid #ededed;
    margin-bottom: 0px;
    text-align: right;
}

/*change was mark-all-done*/

#menuitemapp .content .mark-all-active {
    margin-left: 8px;
}

/*********************/
/*credits please
/*********************/

#credits {
    color: #888;
    text-align: center;
    padding-top: 25px;
}

#credits a {
    color: #888;
}
/*********************/
/*modal window*/
/*********************/

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


