
#orderlistview ul {
    list-style: none;
}
.order {
  display: border;
  float:left;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align:center;
  font-size: 12px;
}